<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../styles/main.css">
    <title>Categories</title>
</head>
<body>
    <header>
        <div class="pages">
            <img class="logo_image" src="/docs/WG.png" alt="logo">
            <a class="page_label" href="/">HomePage</a>
            <a class="page_label" href="/category">Categories</a>
            <a class="page_label" href="/create_post">CreatePost</a>
            <a class="page_label" href="/profile">Profile</a>
            {{if not .LoggedIn}}
            <a class="page_label" href="/login">Login</a>
            <a class="page_label" href="/register">Register</a>
            {{end}}
            {{if .LoggedIn}}
            <a class="page_label" href="/logout">Logout</a>
            {{end}}
        </div>
    </header>
    <h1>Categories</h1>
    <ul>
        {{range .Categories}}
        <li>
            <h2>{{.Name}} </h2>
            <p><a href="{{.Link}}">{{.Description}}</a><p>
          
            
        </li>
        {{end}}
    </ul>
    <script src="../scripts/main.js"></script>
</body>
</html>
