<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <title>Profil Sayfası</title>
    <link rel="stylesheet" href="styles/profile.css">
</head>
<body>
    <header>
        <div class="pages">
            <img class="logo_image" src="/docs/WG.png" alt="logo">
            <nav>
                <a class="page_label" href="/">Ana Sayfa</a>
                <a class="page_label" href="/create_post">Gönderi Oluştur</a>
                <a class="page_label" href="/profile">Profil</a>
                <form action="/logout" method="post" class="logout_form">
                    <button type="submit">Çıkış Yap</button>
                </form>
            </nav>
        </div>
    </header>
    
    <div class="prof_container">
        <div class="prof_image_container">
            <div class="image_frame">
                <img class="prof_image" src="https://st5.depositphotos.com/1915171/63123/v/450/depositphotos_631235886-stock-illustration-user-profile-icon-vector-avatar.jpg" alt="Profil Resmi">
            </div>
        </div>
        
        <div class="profil_details">  
            <p><strong>Kullanıcı Adı:</strong> <span id="username">{{.Username}}</span></p>
            <p><strong>Email:</strong> <span id="email">{{.Email}}</span></p>
            <p><strong>Gönderi Sayısı:</strong> <span id="gonderisayisi">{{len .Posts}}</span></p>
            <p><strong>Beğeniler:</strong> <span id="likes">{{.Total_likes}}</span></p>
            <p><strong>Beğenmeme:</strong> <span id="dislikes">{{.Total_dislikes}}</span></p>
        </div>
        {{ if not .IsAdmin }}
        <a class="admin_link" href="panel">Admin Paneli Giriş</a>
        {{ end }}
    </div>
    
    <div class="post_viewer">
        <h1>Kullanıcı Gönderileri:</h1>
        <div class="prof_posts">
            {{ range .Posts }}
            <div class="post">
                <br>
                <h1>{{.CategoryName}}</h1>
                <h2>{{.Title}}</h2>
                <p><strong>Gönderi:</strong> {{.Content}}</p>
                
                {{ if .Image }}
                <img src="{{.Image}}" alt="Post Image">
                {{ end }}
                <p><strong>Beğeniler:</strong> {{.Likes}}</p>
                <p><strong>Beğenmeme:</strong> {{.Dislikes}}</p>
                <p><strong>Oluşturulma Tarihi:</strong> {{.CreatedAt}}</p>
                <br>
            </div>
            {{ end }}
        </div>
    </div>
</body>
</html>
