body {
    font-family: 'Montreal', sans-serif;
    background-color: #e0f7f1; /* Su yeşili arka plan */
    margin: 0;
    padding: 0;
}

header {
    background-color: #00796b; /* Su yeşili koyu tonu */
    color: #fff;
    padding: 10px 0;
}

.pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.logo_image {
    width: 90px;
    height: 90px;
}

nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-around; /* Boşlukları eşitler */
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

button {
    background-color: #00796b; /* Su yeşili koyu tonu */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #004d40; /* Su yeşili daha koyu tonu */
}

main {
    font-family: 'Montreal', sans-serif;
    display: flex;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}

.posts {
    display: block;
    padding: 1%;
    border: 1px groove silver;
    max-width: 50%;
    margin-right: 0.5%;
}

.post {
    display: block;
    padding: 1%;
    border: 1px groove silver;
    max-width: 100%;
    margin: 1%;
}

.post img {
    width: 100%; /* Adjust as necessary */
    height: auto; /* Maintains aspect ratio */
    max-width: 500px; /* Maximum width of the image */
    display: block;
    margin: 0 auto;
}

.categories {
    border: 1px groove silver;
    display: block;
    height: 55%;
    width: 25%;
    padding: 1%;
}

.category {
    width: 90%;
    display: block;
    border: 1px groove silver;
    padding: 10px;
    text-decoration: none; /* Bağlantıların altını kaldır */
    color: black; /* Bağlantı metni rengini ayarla */
}

.page_label {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
