body {
    font-family: Arial, sans-serif;
    background-color: #e0f7f1; /* Su yeşili arka plan */
    margin: 0;
    padding: 0;
}

header {
    background-color: #00796b; /* Su yeşili koyu tonu */
    color: #fff;
    padding: 10px 0;
}

.pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.logo_image {
    width: 90px;
    height: 90px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

nav a:hover {
    text-decoration: underline;
}

.logout_form {
    margin: 0 15px;
}

button {
    background-color: #00796b; /* Su yeşili koyu tonu */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #004d40; /* Su yeşili daha koyu tonu */
}

.prof_container {
    width: 60%;
    margin: 20px auto;
    background-color: #fff; /* Beyaz arka plan */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.prof_image_container {
    flex: 1;
    text-align: center;
}

.prof_image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profil_details {
    flex: 2;
    margin-left: 20px;
}

.profil_details h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #00796b; /* Su yeşili koyu tonu */
}

.admin_link {
    display: block;
    text-align: right;
    margin-bottom: 10px;
    color: #00796b; /* Su yeşili koyu tonu */
}

.profil_details p {
    margin: 10px 0;
    color: #00796b; /* Su yeşili koyu tonu */
    font-size: 1.1em;
}

.profil_details strong {
    font-size: 1.1em; /* İstediğiniz büyüklüğe göre değeri ayarlayabilirsiniz */
}

.tabs {
    width: 60%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    background-color: #00796b; /* Su yeşili koyu tonu */
    border-radius: 10px;
    overflow: hidden;
}

.tablinks {
    flex: 1;
    padding: 14px 16px;
    text-align: center;
    background-color: inherit;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tablinks:hover {
    background-color: #004d40; /* Su yeşili daha koyu tonu */
}

.tablinks.active {
    background-color: #004d40; /* Su yeşili daha koyu tonu */
}

.tabcontent {
    display: none;
    padding: 20px;
    width: 60%;
    margin: 20px auto;
    background-color: #fff; /* Beyaz arka plan */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.prof_posts .post {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.prof_posts .post:last-child {
    border-bottom: none;
}

.prof_posts h1 {
    color: #00796b; /* Su yeşili koyu tonu */
}

.prof_posts h2 {
    color: #00796b; /* Su yeşili koyu tonu */
}

.prof_posts p {
    color: #00796b; /* Su yeşili koyu tonu */
}
