.desktop-screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.form-container {
    position: relative;
    width: 1024px;
    height: 1024px;
}
.desktop-screen .overlap {
    position: absolute;
    width: 191px;
    height: 68px;
    top: 72px;
    left: 1450px;
    background-color: #0709a3;
    border-radius: 34px;
    box-shadow: 0px 4px 4px #0000003d;
}
.desktop-screen .text-wrapper {
    position: absolute;
    top: 11px;
    left: 25px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
}
.desktop-screen .overlap-group {
    position: absolute;
    width: 191px;
    height: 68px;
    top: 72px;
    left: 1650px;
    background-color: #40adb4;
    border-radius: 34px;
    box-shadow: 0px 4px 4px #0000003d;
}
.desktop-screen .overlap-group-3 {
    position: absolute;
    width: 191px;
    height: 68px;
    top: 72px;
    left: 1250px;
    background-color: #40adb4;
    border-radius: 34px;
    box-shadow: 0px 4px 4px #0000003d;
}
.desktop-screen .text-wrapper-2 {
    position: absolute;
    top: 11px;
    left: 51px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
}
.desktop-screen .overlap-group-2 {
    position: absolute;
    width: 559px;
    height: 583px;
    top: 204px;
    left: 650px;
    background-color: #fdfafa;
    border-radius: 23px;
}
.desktop-screen .rectangle {
    position: absolute;
    width: 505px;
    height: 527px;
    top: 34px;
    left: 27px;
    background-color: #ffffff;
    border-radius: 23px;
}
.desktop-screen .rectangle-2 {
    position: absolute;
    width: 428px;
    height: 58px;
    top: 83px;
    left: 84px;
    background-color: #40adb4;
    border-radius: 147px;
}
.desktop-screen .rectangle-3 {
    position: absolute;
    width: 428px;
    height: 58px;
    top: 413px;
    left: 88px;
    background-color: #40adb4;
    border-radius: 147px;
}
.desktop-screen .rectangle-4 {
    position: absolute;
    width: 428px;
    height: 58px;
    top: 300px;
    left: 88px;
    background-color: #40adb4;
    border-radius: 147px;
}
.desktop-screen .text-wrapper-3 {
    position: absolute;
    top: 40px;
    left: 112px;
    font-family: "Poppins", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}
#passwordError {
    color: red;
    font-weight: bold;
}
.desktop-screen .text-wrapper-4 {
    position: absolute;
    top: 371px;
    left: 112px;
    font-family: "Poppins", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}
.desktop-screen .text-wrapper-5 {
    position: absolute;
    top: 258px;
    left: 112px;
    font-family: "Poppins", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}
.desktop-screen .image {
    width: 55px;
    height: 55px;
    top: 413px;
    left: 101px;
    position: absolute;
    object-fit: cover;
}
.desktop-screen .img {
    width: 55px;
    height: 55px;
    top: 300px;
    left: 101px;
    position: absolute;
    object-fit: cover;
}
.desktop-screen .image-2 {
    width: 28px;
    height: 19px;
    top: 433px;
    left: 458px;
    position: absolute;
    object-fit: cover;
}
.desktop-screen .image-3 {
    width: 28px;
    height: 19px;
    top: 320px;
    left: 458px;
    position: absolute;
    object-fit: cover;
}
.desktop-screen .message {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 90px;
    left: 106px;
}
.desktop-screen .element-input-field {
    display: flex;
    width: 330px;
    height: 30px;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 97px;
    left: 151px;
    background-color: #40adb4;
    border-radius: 8px;
    border: 1px solid;
    border-color: #40adb4;
    color: white;
}
.desktop-screen .label-wrapper {
    width: 330px;
    top: 207px;
    display: flex;
    height: 30px;
    align-items: center;
    gap: 16px;
    position: absolute;
    left: 151px;
    background-color: #40adb4;
    border-radius: 8px;
    border: 1px solid;
    border-color: #40adb4;
    color: white;
}
.desktop-screen .div-wrapper {
    width: 330px;
    top: 312px;
    display: flex;
    height: 30px;
    align-items: center;
    gap: 16px;
    position: absolute;
    left: 151px;
    background-color: #40adb4;
    border-radius: 8px;
    border: 1px solid;
    border-color: #40adb4;
    color: white;
}
.desktop-screen .element-input-field-2 {
    width: 330px;
    top: 427px;
    display: flex;
    height: 30px;
    align-items: center;
    gap: 16px;
    position: absolute;
    left: 151px;
    background-color: #40adb4;
    border-radius: 8px;
    border: 1px solid;
    border-color: #40adb4;
    color: white;
}
.desktop-screen .label {
    position: relative;
    flex: 1;
    margin-top: -4px;
    margin-bottom: -2px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #828282;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19.6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.desktop-screen .rectangle-5 {
    position: absolute;
    width: 428px;
    height: 58px;
    top: 192px;
    left: 84px;
    background-color: #40adb4;
    border-radius: 147px;
}
.desktop-screen .text-wrapper-6 {
    position: absolute;
    top: 149px;
    left: 112px;
    font-family: "Poppins", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}
.desktop-screen .mdi-account {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 199px;
    left: 106px;
}
.desktop-screen .rectangle-6 {
    position: absolute;
    width: 179px;
    height: 60px;
    top: 492px;
    left: 208px;
    background-color: #000000;
    border-radius: 30px;
}
.desktop-screen .text-wrapper-7 {
    position: absolute;
    top: 504px;
    left: 260px;
    font-family: "Poppins", Helvetica;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    background: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0;
    outline: none;
}



.desktop-screen .text-wrapper-8 {
    position: absolute;
    top: 792px;
    left: 812px;
    font-family: "Poppins", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
}
.desktop-screen .overlap-2 {
    position: absolute;
    width: 403px;
    height: 85px;
    top: 920px;
    left: 720px;
}
.desktop-screen .text-wrapper-9 {
    position: absolute;
    top: 40px;
    left: 155px;
    font-family: "Poppins", Helvetica;
    font-weight: 300;
    color: #40adb4;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
}
.desktop-screen .already-have-an {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop-screen .facebook {
    position: absolute;
    width: 63px;
    height: 63px;
    top: 0px;
    left: -60px;
}
.desktop-screen .overlap-3 {
    position: absolute;
    width: 188px;
    height: 67px;
    top: 849px;
    left: 860px;
}

.desktop-screen .twitter {
    position: absolute;
    width: 64px;
    height: 63px;
    top: 3px;
    left: 0;
}
.desktop-screen .instagram {
    position: absolute;
    width: 63px;
    height: 63px;
    top: 0;
    left: 62px;
}
.desktop-screen .linked-in {
    position: absolute;
    width: 65px;
    height: 65px;
    top: 2px;
    left: 123px;
}
.desktop-screen .facebook-2 {
    position: absolute;
    width: 237px;
    height: 198px;
    top: 18px;
    left: 64px;
}