body {
    font-family: 'Montreal', sans-serif;
    background-color: #e0f7f1; /* Su yeşili arka plan */
    margin: 0;
    padding: 0;
}

header {
    background-color: #00796b; /* Su yeşili koyu tonu */
    color: #fff;
    padding: 10px 0;
}

.pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.page_label {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo_image {
    width: 90px;
    height: 90px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.post-details {
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-details img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 10px 0;
}

.comments-container {
    margin-top: 20px;
}

.comment {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.comment p {
    margin: 5px 0;
    line-height: 1.5;
}

.comment em {
    font-style: italic;
    color: #00796b;
}

.comment:last-child {
    border-bottom: none;
}
